# RSI (Relative Strength Index)
    RSI는 현재 가격의 상승압력과 하락 압력간의 상대적인 강도를 나타내는 기술적 지표이다. 주로 과매수와 과매도 상태를 판단하기에 용이한
    보조지표로서 사용한다. RSI가 70% 이상이면 과매수, 30% 이하면 과매도 상태로 본다. RSI는 횡보장에서 큰 영향을 발휘하지만 강한 추세
    가 나타나는 시장에서는 잘못된 신호를 보내는 경우가 많다는 한계점이 있다.
    
    RSI = ((n일 동안의 종가 상승분 평균) / (n일 동안의 종가 상승분 평균) + (n일 동안의 종가 하락 분 평균) ) * 100 으로 계산되며
    n값으로는 보통 14일을 많이 사용한다.

In [74]:
import pandas as pd

df1 = pd.read_csv("./dataset/KODEX 200 2022 1 1 ~ 2022 5 29.csv", encoding='cp949')

#### row, column 확인

In [75]:
df1.shape

(98, 17)

#### 수치형 데이터들에 대한 분석
mean과 50% 구간이 차이가 많이 난다면 이상치 문제를 고려해볼 수 있다

In [76]:
df1.describe()

,조회날짜,코드1,종가,전일대비 등락,전일대비 등락률,시가,고가,저가,체결수량의 누적합,체결가격 * 체결수량 누적합,종가*상장좌수,상장좌수,기초지수 종가,순자산총액
count,9.800000e+01,98.0,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,98.000000,9.800000e+01
mean,2.022031e+07,69500.0,36529.795918,-49.285714,-0.124592,36559.030612,36760.204082,36304.336735,6.236832e+06,2.272756e+11,5.223108e+12,1.429010e+08,361.753061,5.228928e+12
std,1.403213e+02,0.0,1416.461927,421.027829,1.157866,1455.452007,1430.665067,1421.167234,2.253876e+06,8.107885e+10,3.454822e+11,5.950777e+06,13.290979,3.401765e+11
min,2.022010e+07,69500.0,33805.000000,-1205.000000,-3.300000,34010.000000,34295.000000,33785.000000,2.807810e+06,1.013786e+11,4.573816e+12,1.312500e+08,337.940000,4.622132e+12
25%,2.022021e+07,69500.0,35522.500000,-368.750000,-0.987500,35618.750000,35811.250000,35395.000000,4.649794e+06,1.720279e+11,4.908888e+12,1.384750e+08,353.397500,4.942814e+12
50%,2.022032e+07,69500.0,36535.000000,-50.000000,-0.135000,36550.000000,36702.500000,36307.500000,5.743956e+06,2.078294e+11,5.211935e+12,1.438000e+08,360.710000,5.254649e+12
75%,2.022042e+07,69500.0,37080.000000,216.250000,0.572500,37017.500000,37203.750000,36817.500000,7.050076e+06,2.480102e+11,5.532357e+12,1.470125e+08,366.157500,5.547697e+12
max,2.022053e+07,69500.0,39965.000000,945.000000,2.680000,40070.000000,40345.000000,39825.000000,1.496508e+07,5.350166e+11,6.126634e+12,1.540000e+08,395.510000,5.885459e+12

#### 결측치 검사

In [77]:
df1.isnull().sum()

조회날짜               0
코드1                0
종목 코드              0
종목 명칭              0
종가                 0
전일대비 등락            0
전일대비 등락률           0
시가                 0
고가                 0
저가                 0
체결수량의 누적합          0
체결가격 * 체결수량 누적합    0
종가*상장좌수            0
상장좌수               0
기초지수 명칭            0
기초지수 종가            0
순자산총액              0
dtype: int64

#### 데이터 샘플 확인

In [78]:
df1.head()

,조회날짜,코드1,종목 코드,종목 명칭,종가,전일대비 등락,전일대비 등락률,시가,고가,저가,체결수량의 누적합,체결가격 * 체결수량 누적합,종가*상장좌수,상장좌수,기초지수 명칭,기초지수 종가,순자산총액
0,20220526,69500,KR7069500007,KODEX 200,34480,-115,-0.33,34595,34945,34355,6777076,234197488505,5080628000000,147350000,코스피 200,344.26,5058427027452
1,20220525,69500,KR7069500007,KODEX 200,34595,145,0.42,34660,34825,34430,6735545,233370095985,4910760250000,141950000,코스피 200,345.60,5102392868588
2,20220524,69500,KR7069500007,KODEX 200,34450,-650,-1.85,34950,35030,34450,5416640,187387240065,4802330000000,139400000,코스피 200,344.08,4893775800336
3,20220523,69500,KR7069500007,KODEX 200,35100,115,0.33,35135,35225,34915,5876025,206112707170,5031585000000,143350000,코스피 200,350.34,4892952813360
4,20220520,69500,KR7069500007,KODEX 200,34985,615,1.79,34515,35025,34485,4661990,162813735335,4992359500000,142700000,코스피 200,349.29,5016595210744

#### 조회날짜를 index 및 datetime으로 변경

In [79]:
def make_datetime(x) :
    
    x = str(x)
    
    str_val = ''
    str_val += x[0:4] + "-"
    str_val += x[4:6] + "-"
    str_val += x[6:]
    
    return str_val

df1['조회날짜'] = pd.to_datetime(df1['조회날짜'].apply(make_datetime))
df1 = df1.set_index('조회날짜')

#### 현재 엑셀 데이터가 날짜기준 내림차순으로 되어있으므로 날짜기준 오름차순으로 변경

In [80]:
df1 = df1.sort_index()

In [81]:
df2 = df1

#### 필터링을 통해 현재 데이터프레임에서 전일대비 하락과 전일대비 상승으로 분할

In [82]:
ups, downs = df2['전일대비 등락'].copy(), df2['전일대비 등락'].copy()
ups[ups<0] = 0
downs[downs>0] = 0

print(ups)
print(downs)

조회날짜
2022-01-03     95
2022-01-04      0
2022-01-05      0
2022-01-06      0
2022-01-07    490
             ...
2022-05-20    615
2022-05-23    115
2022-05-24      0
2022-05-25    145
2022-05-26      0
Name: 전일대비 등락, Length: 98, dtype: int64
조회날짜
2022-01-03      0
2022-01-04    -25
2022-01-05   -570
2022-01-06   -395
2022-01-07      0
             ...
2022-05-20      0
2022-05-23      0
2022-05-24   -650
2022-05-25      0
2022-05-26   -115
Name: 전일대비 등락, Length: 98, dtype: int64

#### N 설정(14일) 후 N 기준으로 au와 ad 계산

In [83]:
period = 14
au = ups.ewm(com = period-1, min_periods = period).mean()
ad = downs.abs().ewm(com = period-1, min_periods = period).mean()

In [84]:
print(au)
print(ad)

조회날짜
2022-01-03           NaN
2022-01-04           NaN
2022-01-05           NaN
2022-01-06           NaN
2022-01-07           NaN
                 ...
2022-05-20    163.050816
2022-05-23    159.615606
2022-05-24    148.205211
2022-05-25    147.976094
2022-05-26    137.398955
Name: 전일대비 등락, Length: 98, dtype: float64
조회날짜
2022-01-03           NaN
2022-01-04           NaN
2022-01-05           NaN
2022-01-06           NaN
2022-01-07           NaN
                 ...
2022-05-20    164.863662
2022-05-23    153.077362
2022-05-24    188.600729
2022-05-25    175.119066
2022-05-26    170.821834
Name: 전일대비 등락, Length: 98, dtype: float64

#### 공식을 사용해서 RSI를 구한다 RS / (1 + RS), AU / (AU+AD) 어느것이든 결과는 동일하다

In [85]:
rs = au/ad
rsi = pd.Series(100 - (100/(1+rs)))
print(rsi)

조회날짜
2022-01-03          NaN
2022-01-04          NaN
2022-01-05          NaN
2022-01-06          NaN
2022-01-07          NaN
                ...
2022-05-20    49.723579
2022-05-23    51.045473
2022-05-24    44.003146
2022-05-25    45.799539
2022-05-26    44.578095
Name: 전일대비 등락, Length: 98, dtype: float64

#### 만들어진 roc_df를 csv로 출력

In [86]:
rsi.to_csv("rsi_data 2022 05 01 ~ 2022 02 01.csv", mode='w')

#### 잘 만들어졌는지 확인

In [87]:
df_test = pd.read_csv("rsi_data 2022 05 01 ~ 2022 02 01.csv")

In [88]:
df_test

          조회날짜    전일대비 등락
0   2022-01-03        NaN
1   2022-01-04        NaN
2   2022-01-05        NaN
3   2022-01-06        NaN
4   2022-01-07        NaN
..         ...        ...
93  2022-05-20  49.723579
94  2022-05-23  51.045473
95  2022-05-24  44.003146
96  2022-05-25  45.799539
97  2022-05-26  44.578095

[98 rows x 2 columns]