##  데이터프레임 만들기

In [1]:
import pandas as pd

#독립변수 (2020년 데이터)
df_구리 = pd.read_csv("dataset/구리 선물 2020 2 1 2020 5 1.csv", encoding='utf-8')
df_금 = pd.read_csv("dataset/금 선물 2020 2 1 2020 5 1.csv", encoding='utf-8', thousands=',')
df_금리 = pd.read_csv("dataset/미국 10년물 국채 금리 채권 수익율 2020 2 1 ~ 2020 5 1.csv", encoding='utf-8')
df_비트코인 = pd.read_csv("dataset/비트코인 2020 2 1 2020 5 1.csv", encoding='utf-8', thousands=',')
df_삼성 = pd.read_csv("dataset/삼성전자 2020 0601 2020 0101.csv", encoding='cp949')
df_ndaq = pd.read_csv("dataset/NDAQ 2020 2 1 ~ 2020 5 1.csv", encoding='utf-8')
df_roc = pd.read_csv("dataset/roc_data 2020 05 01 ~ 2020 02 01.csv", encoding='utf-8')
df_rsi = pd.read_csv("dataset/rsi_data 2020 05 01 ~ 2020 02 01.csv", encoding='utf-8')
df_wti = pd.read_csv("dataset/WTI유 선물 2020 2 1 2020 5 1.csv", encoding='utf-8')

#종속변수 (2020년 데이터)
df_kodex = pd.read_csv("dataset/KODEX 200 2020 1 1 ~ 2020 6 1.csv", encoding='cp949') 

#테스트용 독립변수 (2021년 데이터)
df_구리_test = pd.read_csv("dataset/구리 선물 2021 2 1 2021 5 1.csv", encoding='utf-8')
df_금_test = pd.read_csv("dataset/금 선물 2021 2 1 2021 5 1.csv", encoding='utf-8', thousands=',')
df_금리_test = pd.read_csv("dataset/미국 10년물 국채 금리 채권 수익율 2021 2 1 ~ 2021 5 1.csv", encoding='utf-8')
df_비트코인_test = pd.read_csv("dataset/비트코인 2021 2 1 2021 5 1.csv", encoding='utf-8', thousands=',')
df_삼성_test = pd.read_csv("dataset/삼성전자 2021 0601 2021 0101.csv", encoding='cp949')
df_ndaq_test = pd.read_csv("dataset/NDAQ 2021 2 1 ~ 2021 5 1.csv", encoding='utf-8')
df_roc_test = pd.read_csv("dataset/roc_data 2021 05 01 ~ 2021 02 01.csv", encoding='utf-8')
df_rsi_test = pd.read_csv("dataset/rsi_data 2021 05 01 ~ 2021 02 01.csv", encoding='utf-8')
df_wti_test = pd.read_csv("dataset/WTI유 선물 2021 2 1 2021 5 1.csv", encoding='utf-8')

#테스트용 종속변수 (2021년 데이터)
df_kodex_test = pd.read_csv("dataset/KODEX 200 2021 1 1 ~ 2021 6 1.csv", encoding='cp949')

기존에 수집한 엑셀 데이터를 불러옵니다 독립변수가 되는 데이터는 구리, 금, 금리, 비트코인, 삼성전자 주식, 나스닥, roc, rsi, wti(휘발유) 이며 종속변수가 되는 데이터는 kodex 펀드 입니다. 2020년 데이터는 학습용 데이터, 2021년 데이터는 테스트를 위한 데이터입니다

## 변동성 column 추가

In [2]:
df_구리['구리 변동성(수치)'] = df_구리['종가'].diff(periods=-1)
df_금['금 변동성(수치)'] = df_금['종가'].diff(periods=-1)
df_금리['금리 변동성(수치)'] = df_금리['종가'].diff(periods=-1)
df_비트코인['비트코인 변동성(수치)'] = df_비트코인['종가'].diff(periods=-1)
df_삼성 = df_삼성.rename(columns={'전일대비 등락':'삼성 변동성(수치)'})
df_ndaq['ndaq 변동성(수치)'] = df_ndaq['종가'].diff(periods=-1)
df_rsi = df_rsi.rename(columns={'전일대비 등락':'rsi'})
df_wti['wti 변동성(수치)'] = df_wti['종가'].diff(periods=-1)

df_구리_test['구리 변동성(수치)'] = df_구리_test['종가'].diff(periods=-1)
df_금_test['금 변동성(수치)'] = df_금_test['종가'].diff(periods=-1)
df_금리_test['금리 변동성(수치)'] = df_금리_test['종가'].diff(periods=-1)
df_비트코인_test['비트코인 변동성(수치)'] = df_비트코인_test['종가'].diff(periods=-1)
df_삼성_test = df_삼성_test.rename(columns={'전일대비 등락':'삼성 변동성(수치)'})
df_ndaq_test['ndaq 변동성(수치)'] = df_ndaq_test['종가'].diff(periods=-1)
df_rsi_test = df_rsi_test.rename(columns={'전일대비 등락':'rsi'})
df_wti_test['wti 변동성(수치)'] = df_wti_test['종가'].diff(periods=-1)

기존의 제안서에는 각 경제지표들의 종가를 모델 생성 작업에 사용하기로 정의하였으나 모델을 검토해본 결과 종가를 독립변수로 사용하는 것은 의미가 없다고 판단하였습니다. 예로 들면 삼성전자가 20000원일때 kodex가 상승하고 30000원일때 하락하였다 이런식으로 모델이 평가되는것은 이상한 문제입니다. 상대적인 기준을 가지고 종속변수를 평가해야 하는데 단순한 종가는 절대적인 평가기준이기 때문입니다. 따라서 변동성을 사용하기로 결정하였습니다. 변동성은 n일전 데이터와의 값 차이를 말하는데 현재 삼성전자 주가가 1일전 삼성전자 주가에 비해서 올랐을때 kodex가 상승하거나 내렸을때 kodex가 하락한다면 의미있는 연관관계를 파악하기 용이합니다.

따라서 1일전 종가와 현재 종가의 차이를 독립변수로 사용하기로 결정하였고 기존에 1일전 변동성을 가지고 있지 않은 데이터들은 diff 함수를 사용하여 새로운 컬럼으로 1일전 종가와의 차이를 만들었습니다.

# 시점 일치

In [3]:
# 2020 0529 형태 -> 삼성, df_kodex
# 2020 05월 01일 형태 -> 구리, 금, 금리, 비트코인, ndaq, wti
# 2020-05-01 형태 -> roc, rsi

# 2020 0529 형태를 처리하기 위한 함수
def make_datetime(x) :
    
    x = str(x)
    
    str_val = ''
    str_val += x[0:4] + "-"
    str_val += x[4:6] + "-"
    str_val += x[6:]
    
    return str_val

def make_datetime2(x) : # 2020 05월 01일 형태를 처리하기 위한 함수
    x = str(x)
    
    str_val = ''
    str_val += x[0:4] + "-"
    str_val += x[6:8] + "-"
    str_val += x[10:12]
    
    return str_val

# 2020 0529 형태를 처리하기 위한 함수
def make_dt_to_date_time_index(df, column_name) : 
    df[column_name] = pd.to_datetime(df[column_name].apply(make_datetime))
    df = df.set_index(column_name)
    
    return df

# 2020년 05월 01일 형태만을 바꾸게 만들어주는 함수
def make_dt_to_date_time_index2(df, column_name) : 
    df[column_name] = pd.to_datetime(df[column_name].apply(make_datetime2))
    df = df.set_index(column_name)
    
    return df

df_구리 = make_dt_to_date_time_index2(df_구리, '날짜')
df_금 = make_dt_to_date_time_index2(df_금, '날짜')
df_금리 = make_dt_to_date_time_index2(df_금리, '날짜')
df_비트코인 = make_dt_to_date_time_index2(df_비트코인, '날짜')
df_ndaq = make_dt_to_date_time_index2(df_ndaq, '날짜')
df_wti = make_dt_to_date_time_index2(df_wti, '날짜')

df_삼성 = make_dt_to_date_time_index(df_삼성, '조회날짜')
df_kodex = make_dt_to_date_time_index(df_kodex, '조회날짜')


df_roc['날짜'] = pd.to_datetime(df_roc['날짜'])
df_roc = df_roc.set_index('날짜')
df_rsi['조회날짜'] = pd.to_datetime(df_rsi['조회날짜'])
df_rsi = df_rsi.set_index('조회날짜')
# rsi는 현재 정렬이 오름차순으로 되어있으므로 내림차순으로 변경
df_rsi = df_rsi.sort_index(ascending=False)

#----------------- test ---------------------------------

df_구리_test = make_dt_to_date_time_index2(df_구리_test, '날짜')
df_금_test = make_dt_to_date_time_index2(df_금_test, '날짜')
df_금리_test = make_dt_to_date_time_index2(df_금리_test, '날짜')
df_비트코인_test = make_dt_to_date_time_index2(df_비트코인_test, '날짜')
df_ndaq_test = make_dt_to_date_time_index2(df_ndaq_test, '날짜')
df_wti_test = make_dt_to_date_time_index2(df_wti_test, '날짜')

df_삼성_test = make_dt_to_date_time_index(df_삼성_test, '조회날짜')
df_kodex_test = make_dt_to_date_time_index(df_kodex_test, '조회날짜')


df_roc_test['날짜'] = pd.to_datetime(df_roc_test['날짜'])
df_roc_test = df_roc_test.set_index('날짜')
df_rsi_test['조회날짜'] = pd.to_datetime(df_rsi_test['조회날짜'])
df_rsi_test = df_rsi_test.set_index('조회날짜')
# rsi는 현재 정렬이 오름차순으로 되어있으므로 내림차순으로 변경
df_rsi_test = df_rsi_test.sort_index(ascending=False)

pycaret 패키지는 모델을 평가하는데 독립변수들과 종속변수가 들어있는 하나의 데이터프레임을 요구합니다. 따라서 위에서 만들었던 여러개의 데이터프레임들을 합쳐줘야 하는데 여기서 합쳐지는 기준은 날짜가 됩니다. 그러나 각 데이터프레임들은 서로 다른 출처로부터 수집한 만큼 날짜의 표기법이 서로 다릅니다. 따라서 apply 함수를 사용하여 날짜를 pandas에서 지원하는 형식으로 변경 및 column 결합을 용이하기 위한 날짜를 인덱스로 세팅하는 작업을 수행하였습니다.

# 전일 대비 등락을 활용해서 분류모델에 사용할 종속변수 추출

In [4]:
# index : 0 ~ 100

cate_dt = df_kodex['전일대비 등락'].copy()
cate_dt[cate_dt < 0] = 0
cate_dt[cate_dt > 0] = 1

# 전일대비 상승했으면 1 그렇지 않으면 0
cate_dt

# ------------------- test
cate_dt_test = df_kodex_test['전일대비 등락'].copy()
cate_dt_test[cate_dt_test < 0] = 0
cate_dt_test[cate_dt_test > 0] = 1

저희는 제안서에서 분류모델을 사용하기로 결정하였으므로 최종적인 종속변수는 kodex 상승 혹은 하락으로 나뉘어지게 됩니다. 그러나 kodex 데이터는 상승, 하락을 나타내는 column은 없고 단지 1일전 변동성으로부터 간접적인 상승 및 하락만을 알 수 있습니다. 이를 상승, 하락이라는 종속변수로 변경해주기 위하여 전처리를 해주는 작업입니다.

cate_dt는 맨 처음은 df_kodex로부터 1일전 변동성을 나타내는 column만을 뽑는데 여기서 위 대괄호와 같이 조건을 주면 즉, 1일전 변동성이 0보다 작으면 하락(0), 0보다 크면 상승(1) 이라고 평가할 수 있기 때문에 기존의 변동성 데이터를 0과 1의 데이터로 바꿔주는 작업을 수행하게 됩니다.

## 2020년 2월 1일 ~ 5월 1일 기준 데이터셋 세팅

In [5]:
# 데이터셋 종류 df_구리 df_금 df_금리 df_비트코인 df_ndaq df_wti df_삼성 df_kodex df_roc df_rsi
# 데이터를 2020년 5월 01일 ~ 2020년 2월 1일 기준으로 전부 정리한다
df_구리 = df_구리['2020-05-01':'2020-02-01']
df_금 = df_금['2020-05-01':'2020-02-01']
df_금리 = df_금리['2020-05-01':'2020-02-01']
df_비트코인 = df_비트코인['2020-05-01':'2020-02-01']
df_ndaq = df_ndaq['2020-05-01':'2020-02-01']
df_wti = df_wti['2020-05-01':'2020-02-01']
df_삼성 = df_삼성['2020-05-01':'2020-02-01']
df_kodex = df_kodex['2020-05-01':'2020-02-01']
df_roc = df_roc['2020-05-01':'2020-02-01']
df_rsi = df_rsi['2020-05-01':'2020-02-01']

# ---------------------- test -----------------------------
df_구리_test = df_구리_test['2021-05-01':'2021-02-01']
df_금_test = df_금_test['2021-05-01':'2021-02-01']
df_금리_test = df_금리_test['2021-05-01':'2021-02-01']
df_비트코인_test = df_비트코인_test['2021-05-01':'2021-02-01']
df_ndaq_test = df_ndaq_test['2021-05-01':'2021-02-01']
df_wti_test = df_wti_test['2021-05-01':'2021-02-01']
df_삼성_test = df_삼성_test['2021-05-01':'2021-02-01']
df_kodex_test = df_kodex_test['2021-05-01':'2021-02-01']
df_roc_test = df_roc_test['2021-05-01':'2021-02-01']
df_rsi_test = df_rsi_test['2021-05-01':'2021-02-01']

위에서 가져온 데이터 프레임들에 대해서 날짜를 2020년 2월 1일 ~ 5월 1일 사이로 세팅해주는 작업입니다. 위에서 각 데이터프레임들의 조회날짜를 인덱스로 세팅해주었기 때문에 위와같은 문법으로 2월 1일부터 5월 1일까지의 데이터들만 사용할수 있게 작업해 줄 수 있습니다.

# 인덱스 교차점 찾기

In [6]:
# 데이터프레임들의 변동성 column만 추출

df_구리 = df_구리[['구리 변동성(수치)']]

df_금 = df_금[['금 변동성(수치)']]

df_금리 = df_금리[['금리 변동성(수치)']]

df_비트코인 = df_비트코인[['비트코인 변동성(수치)']]

df_ndaq = df_ndaq[['ndaq 변동성(수치)']]

df_wti = df_wti[['wti 변동성(수치)']]

df_삼성 = df_삼성[['삼성 변동성(수치)']]

df_kodex = df_kodex[['종가']]
df_kodex = df_kodex.rename(columns={'종가':'kodex 종가'})

df_rsi = df_rsi[['rsi']]

#---------------------- test -------------------------------
df_구리_test = df_구리_test[['구리 변동성(수치)']]

df_금_test = df_금_test[['금 변동성(수치)']]

df_금리_test = df_금리_test[['금리 변동성(수치)']]

df_비트코인_test = df_비트코인_test[['비트코인 변동성(수치)']]

df_ndaq_test = df_ndaq_test[['ndaq 변동성(수치)']]

df_wti_test = df_wti_test[['wti 변동성(수치)']]

df_삼성_test = df_삼성_test[['삼성 변동성(수치)']]

df_kodex_test = df_kodex_test[['종가']]
df_kodex_test = df_kodex_test.rename(columns={'종가':'kodex 종가'})

df_rsi_test = df_rsi_test[['rsi']]

위에서 불러온 데이터들은 한 데이터프레임 안에 여러 column이 존재하는데 (종가, 시가, 고가, 저가 등등...) 모델을 생성하는 데에는 변동성 column만 존재하면 되므로 변동성 column들을 전부 합쳐주기 쉽게 하기 위해 기존 데이터프레임에서 변동성 column만 남기는 작업입니다.

In [7]:
dataset_train = pd.concat([df_구리, df_금, df_금리, df_비트코인, df_ndaq, df_wti, df_삼성, df_roc, df_rsi, cate_dt], 1).dropna()
dataset_test = pd.concat([df_구리_test, df_금_test, df_금리_test, df_비트코인_test, df_ndaq_test, df_wti_test, df_삼성_test, df_roc_test, df_rsi_test, cate_dt_test], 1).dropna()

만들어놓은 변동성 column 및 종속변수 column을 모두 합쳐 학습용 데이터프레임과 테스트용 데이터프레임을 만듭니다. 모델을 생성하기 위한 데이터 프레임은 결측치가 하나라도 존재해서는 안되는데 dropna 함수를 사용해서 row중에 하나라도 결측치가 있다면 모두 drop 하여 결측치가 존재하지 않는 데이터프레임을 만들 수 있습니다

## 데이터셋 결측치 상태 확인

In [8]:
# 데이터 형태 확인
dataset_train.shape

(59, 10)

In [9]:
dataset_train.isnull().sum()

구리 변동성(수치)      0
금 변동성(수치)       0
금리 변동성(수치)      0
비트코인 변동성(수치)    0
ndaq 변동성(수치)    0
wti 변동성(수치)     0
삼성 변동성(수치)      0
ROC             0
rsi             0
전일대비 등락         0
dtype: int64

In [10]:
dataset_train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 59 entries, 2020-02-04 to 2020-04-29
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   구리 변동성(수치)    59 non-null     float64
 1   금 변동성(수치)     59 non-null     float64
 2   금리 변동성(수치)    59 non-null     float64
 3   비트코인 변동성(수치)  59 non-null     float64
 4   ndaq 변동성(수치)  59 non-null     float64
 5   wti 변동성(수치)   59 non-null     float64
 6   삼성 변동성(수치)    59 non-null     float64
 7   ROC           59 non-null     float64
 8   rsi           59 non-null     float64
 9   전일대비 등락       59 non-null     float64
dtypes: float64(10)
memory usage: 5.1 KB

## 데이터 전처리

In [11]:
from pycaret.classification import * # pycaret.classification 내에 있는 모든 함수를 불러온다는 의미

# 데이터 전처리 
cla = setup(data = dataset_train, fold = 10, target = '전일대비 등락', test_data = dataset_test, normalize = True, normalize_method='zscore', data_split_stratify = True, session_id = 123)

모델 생성입니다. 수업시간에 배웠던 내용과 큰 차이는 없지만 test_data 파라미터를 통해 직접 제작한 테스트 데이터셋을 넣어주었고 현재 각 독립변수들의 단위가 일정하지 않은 상태이므로 z-score 방식으로 normalize 하여 올바르게 모델을 추정할 수 있게 값을 주었습니다

In [12]:
compare_models()

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=123, splitter='best')

compare_models는 pycaret에서 제공해 주는 함수로 pycaret의 분류모델 전부를 돌려봐서 어느 분류모델이 제일 정확도 등이 높게 나오는지 알려줍니다. 저희 모델 같은경우에는 현재 Decision Tree(의사결정 나무)가 정확도가 가장 높게 나오고 있는 모습이고 배웠던 분류기법중에서 로지스틱 회귀분석, svm, knn 등도 정확도가 꽤나 높게 나오는 모습을 확인할 수 있습니다

## KNN model

In [13]:
knn = create_model('knn', fold=10)

knn을 사용한 모델 분석 결과입니다. cross-validation 파라미터인 fold를 10을 줘서 교차검증을 10번 수행하고 있는 모습이고 각 교차검증 정확도의 평균값인 0.8 정도의 정확도를 저희 모델이 가지고 있다고 평가할 수 있습니다

## 모델의 최적 파라미터 도출

In [14]:
# 모델의 최적 파라미터 도출
tuned_knn = tune_model(knn)

pycaret을 사용하여 모델을 튜닝한 모습입니다. 정확도는 0.8333으로 이전보다 0.33정도 상승한 모습을 확인할 수 있습니다

## 성능평가

In [15]:
evaluate_model(tuned_knn)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

튜닝한 모델을 바탕으로 성능평가를 하는 작업입니다. AUC가 0.84정도로 상당히 준수하게 나오고 있고 리프트 차트 및 정오분류표에 해당하는 Confusion matrix 또한 좋게 나오고 있습니다

## 테스트 데이터 평가

In [16]:
# 테스트 데이터에 대한 모델 예측 및 평가
predict_model(tuned_knn)

,구리 변동성(수치),금 변동성(수치),금리 변동성(수치),비트코인 변동성(수치),ndaq 변동성(수치),wti 변동성(수치),삼성 변동성(수치),ROC,rsi,전일대비 등락,Label,Score
0,-0.432369,-1.021459,0.179301,3.756195,0.908729,0.182704,1.081686,0.184707,1.016806,1.0,1.0,0.875
1,0.780732,-0.040935,0.484982,4.129476,-0.082780,0.154324,0.227437,0.273894,1.177702,1.0,1.0,0.875
2,-0.108876,-1.452010,-0.028126,-1.362474,0.331648,0.114794,-1.409871,0.324452,0.767656,0.0,0.0,0.625
3,1.393059,0.593891,0.364893,2.485369,-0.200870,0.122902,0.796936,0.672947,1.025484,1.0,1.0,0.875
4,0.584325,0.578178,0.026460,14.586001,-0.013709,0.173582,-0.270874,0.327865,0.788721,0.0,0.0,0.500
5,0.954032,0.015634,-0.170049,0.148527,0.168996,0.099590,-0.128499,0.241783,0.707019,0.0,0.0,0.625
6,1.369953,0.084773,-0.388393,-3.320983,-0.129570,0.092495,-0.697998,0.170424,0.866096,1.0,0.0,0.750
7,-1.594636,-0.740187,0.670575,2.325836,0.463107,0.056005,0.583374,0.191698,1.277206,1.0,1.0,0.750
8,-0.028002,-0.905179,-0.311973,5.582765,0.173453,0.170541,-1.125122,0.349055,0.960783,0.0,0.0,0.500
9,1.647233,-0.015793,0.168384,-1.036606,0.059819,-0.002783,-0.697998,0.245125,0.581155,0.0,0.0,0.625
10,3.830816,-0.012651,0.474065,8.332140,-0.082780,-0.069680,0.440999,0.515765,0.795119,1.0,1.0,0.750
11,1.751213,0.886163,0.081046,-6.526030,-0.608614,0.288118,-0.199687,0.633628,0.520861,0.0,0.0,0.875
12,0.861605,-0.160358,-0.279221,-10.176448,-0.267713,0.078304,-0.057312,0.386049,0.493446,0.0,0.0,0.500
13,2.571501,-0.342635,0.321224,1.457050,0.385123,0.217166,0.085063,0.047395,-0.016269,0.0,1.0,0.625
14,-1.021590,-0.751186,1.729542,-5.451463,-0.354609,0.091481,2.434245,0.302876,0.862146,1.0,1.0,0.750
15,-3.517113,-1.549433,-1.338189,-1.203523,-0.434821,-0.145700,-1.908183,0.197967,0.268444,0.0,0.0,0.750
16,2.028493,0.248194,-0.301055,-2.346878,-0.256572,-0.030150,0.868124,0.183384,0.508581,1.0,1.0,0.625
17,-1.472170,-0.644334,0.943504,3.758916,-0.858162,0.215139,0.369812,0.380201,0.741392,1.0,1.0,0.625
18,-3.678859,-0.559481,0.801581,-3.893244,0.304911,0.318526,-1.053934,0.290758,0.465842,0.0,0.0,0.875
19,2.167134,-0.154072,0.222970,0.637425,1.510318,0.289131,-0.128499,0.175626,0.354753,0.0,0.0,0.500
20,0.330152,-0.729187,0.048295,2.511019,0.082100,-0.045354,0.013875,-0.045220,0.161246,0.0,0.0,0.500
21,-1.830324,1.137579,-0.814164,4.919176,0.387351,-0.045354,-0.342061,-0.141616,0.035713,0.0,0.0,0.875
22,0.607432,0.069060,-0.071794,1.819643,-0.450418,0.103644,-0.270874,-0.095234,-0.078275,0.0,0.0,0.500
23,2.617714,-0.059791,0.157467,3.713640,-0.082780,0.220207,0.868124,0.222572,0.447210,1.0,1.0,0.875
24,-0.039556,-0.172929,0.987173,-1.109280,0.088784,0.018502,0.654561,0.223723,0.658434,1.0,1.0,0.750
25,-0.039556,0.210481,-0.322890,-6.526806,0.367298,0.037761,-0.626810,0.277227,0.538541,0.0,0.0,0.875
26,-1.402850,-0.031507,0.157467,2.063510,-0.098377,0.000258,0.796936,0.365760,0.747167,1.0,1.0,0.625
27,1.034906,-0.204356,0.277556,3.861709,-0.305591,0.039788,-0.270874,0.495492,0.538016,0.0,1.0,0.625
28,-0.351496,0.084773,0.659657,-2.514378,0.222471,-0.406193,0.512187,0.225167,0.728852,1.0,0.0,0.500
29,-0.016449,0.204196,0.266639,0.768588,0.195734,0.203990,-0.626810,0.389785,0.444195,0.0,0.0,0.750
30,0.734519,-0.198070,-0.126380,-6.338515,0.324964,0.073236,0.156250,0.300550,0.492030,1.0,0.0,0.500
31,-1.287317,-0.493485,-0.792329,0.500821,0.117750,-0.324092,-0.057312,0.108713,0.236831,0.0,0.0,0.750
32,-0.224409,0.169626,-0.082712,-4.204149,-0.035990,0.406708,-0.484436,0.185518,0.117339,0.0,0.0,0.875
33,-2.061391,-0.339492,0.212053,-2.020039,-0.151851,-0.205501,0.227437,0.276365,0.262291,1.0,0.0,0.750
34,1.982280,0.141342,0.452231,7.145647,0.942150,0.304335,0.298625,0.454018,0.562943,1.0,1.0,0.750
35,-0.663436,-0.716617,0.495900,3.525931,0.044222,0.119862,0.156250,0.497220,0.505977,0.0,1.0,0.625
36,-1.206444,-0.936606,-0.071794,2.173687,-0.737844,-0.042313,0.512187,0.661233,0.866970,1.0,1.0,0.625
37,0.411025,0.835880,0.375810,-0.085624,0.019713,-0.080830,-0.484436,0.439606,0.769799,0.0,0.0,0.625
38,-0.108876,0.320476,-0.770495,-0.159076,0.772814,0.292172,1.152873,0.442243,1.059568,1.0,1.0,0.625
39,3.264702,-0.072362,0.026460,1.471040,0.295999,-0.223746,0.512187,0.534951,1.438482,1.0,1.0,0.625
40,-0.663436,0.364474,-0.530316,-2.008380,0.142259,0.128984,0.512187,0.625611,1.479494,1.0,0.0,0.625
41,-1.217997,-0.132074,0.233887,-4.049668,-0.401400,0.104658,-0.199687,0.578811,1.553956,1.0,0.0,0.625
42,1.000246,0.436756,-0.573985,4.065546,0.627987,0.042829,-0.555623,0.672977,1.505777,0.0,0.0,0.625
43,-1.171783,-0.502913,0.397645,0.009396,0.592337,0.031679,-0.697998,0.610222,1.255848,0.0,0.0,0.500
44,-0.351496,-0.468343,-0.049960,-0.294125,0.015257,0.098576,-0.199687,0.702871,1.255848,0.0,0.0,0.500
45,0.283938,0.383330,-0.530316,7.074333,0.427457,0.108712,0.654561,0.860510,1.668496,1.0,1.0,0.750
46,1.947620,-0.436916,0.157467,-1.159997,-0.091692,0.361096,0.085063,0.885739,1.888973,1.0,1.0,0.750
47,1.912960,0.873592,-0.650406,0.386952,0.599021,0.091481,0.156250,0.802768,1.917932,1.0,0.0,0.500
48,-1.079357,0.339332,0.179301,-3.639079,0.044222,0.026611,-0.057312,0.814909,1.879843,0.0,0.0,0.625
49,1.797427,-0.386633,0.353976,-1.160968,-0.325644,0.085399,-0.342061,0.703279,1.871710,0.0,1.0,0.625
50,-0.513243,0.163341,-0.475731,1.555762,0.251436,-0.035218,0.512187,0.791929,2.099071,1.0,1.0,0.625
51,1.416166,0.389616,-0.071794,-5.245488,-0.062727,-0.050422,-0.840372,0.526141,0.968699,0.0,0.0,0.750
52,-0.120429,-0.436916,-0.180966,-4.133418,0.106609,0.068168,-0.057312,0.433902,1.033478,1.0,0.0,0.750
53,1.265973,-0.216927,0.190218,-1.209353,0.630215,0.132025,0.369812,0.420550,1.059636,1.0,1.0,0.625
54,2.248007,-0.018936,0.059212,9.755504,-0.526174,0.036747,0.583374,0.494042,1.452369,1.0,1.0,0.875
55,0.954032,-0.122645,0.626906,1.903393,0.189049,0.164460,-0.342061,0.481655,1.499247,1.0,1.0,0.625
56,0.075978,-0.232640,-0.148215,-0.449966,-0.238748,0.153310,-0.484436,0.388562,0.861462,0.0,0.0,0.625
57,-0.270622,-0.248354,0.332142,-2.559265,0.516581,0.176623,-0.199687,0.254299,0.682924,0.0,0.0,0.750
58,-0.259069,-0.103789,-0.159132,8.011713,-0.060499,-0.084884,-0.057312,0.189293,0.339583,0.0,0.0,0.750

테스트 데이터에 대한 평가입니다. 정확도는 0.7966 으로 상당히 준수하며 저희가 적용한 분류모델중 학습데이터와 평가용 데이터의 정확도 결과가 가장 차이가 나지 않는 모습이 인상적이였습니다

## KNN의 시사점

KNN 또한 의사결정나무와 마찬가지로 데이터에 대한 복잡한 가정들을 필요로하지 않아 저희 프로젝트에 쉽게 적용할 수 있는 모델 중 하나입니다. 그러나 KNN의 경우 독립변수를 많이 선정하게 되면 계산이 오래걸린다는 단점이 존재하는데 저희 프로젝트의 경우 데이터 크기가 그렇게 크지 않아 그다지 성능차이를 느끼지 못했지만 독립변수가 10개나 되기 때문에 만약 데이터가 많이 존재하는 상황이라면 결과를 만드는데 오래걸렸을 가능성이 있으며 이런 상황에서는 주성분 분석등의 차원 축소 방법을 고려해야될 가능성이 있습니다.